/* You can add global styles to this file, and also import other style files */

.dnd-drag {
  background: green;
}

.dnd-drag-active {
  background: blue;
}

.dnd-drop {
  background: coral;
}

.dnd-drop-active {
  background: red;
}
